argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
backcall 
beautifulsoup4 
bleach 
certifi==2022.5.18.1
cffi 
charset-normalizer==2.0.12
colorama==0.4.5
debugpy 
decorator 
defusedxml 
entrypoints 
executing 
fastjsonschema 
halo==0.0.31
idna==3.3
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
log-symbols==0.0.14
MarkupSafe 
matplotlib-inline 
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy==1.22.4
packaging 
pandas==1.4.2
pandocfilters 
parso 
pexpect 
pickleshare 
prometheus-client 
prompt-toolkit 
ptyprocess 
pure-eval 
pycparser 
Pygments 
pyparsing 
pyrsistent 
python-dateutil 
pytz==2022.1
pyzmq 
qtconsole 
QtPy 
requests==2.28.0
Send2Trash 
sip==4.19.13
six 
soupsieve 
spinners==0.0.24
stack-data 
termcolor==1.1.0
terminado 
testpath 
tornado 
tqdm==4.64.0
traitlets 
typing_extensions
urllib3==1.26.9
wcwidth 
webencodings==0.5.1
widgetsnbextension 
